@{
    ViewData["Title"] = "HttpError";
}
@model int

<style>
    .error {
        background-image: url(https://media1.tenor.com/images/0bb32a34d24cfe1331985ff4c0dabbf5/tenor.gif?itemid=13598436);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body class="error">
    <div align="center" class="m-auto" >
        <p style="font-size: 200px; font-style: oblique">@Model</p>
    </div>
</body>
