@{
    ViewData["Title"] = "Home Page";
}


@*<div class="text-center">
        <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
<div class="row">

    <div class="col-lg-3" style="margin-left: -0%;margin-top: 70px">

        <div class="list-group">
            <h2>Categorys</h2>
            @for (int i = 0; i < 10; i++)
            {
                <a href="#" class="list-group-item text-white" style="background: #043927">Category @i</a>

            }
        </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9" style="margin-top: 90px">

        <div class="row">
            @for (int i = 0; i < 5; i++)
            {
                <div class="col-lg-8 col-md-8 mb-8" style="margin-bottom: 40px">
                    <div class="card h-100">
                        <div class="card-header font-italic">
                            <h7>Some quick example text to build on the card title and make up the bulk of the card's content.</h7>
                        </div>
                        <img id="srcP" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F--7gtJQo5mHE%2FUGMKHZapqmI%2FAAAAAAAAWGU%2F5X26Pgj_St4%2Fs1600%2Ffunny-cat-pictures-017-005.jpg&f=1&nofb=1https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F--7gtJQo5mHE%2FUGMKHZapqmI%2FAAAAAAAAWGU%2F5X26Pgj_St4%2Fs1600%2Ffunny-cat-pictures-017-005.jpg&amp;f=1&amp;nofb=1" class="card-img-top" alt="...">
                        <div class="card-footer">
                            <button type="button" class="btn btn-dark far fa-thumbs-up" style="width: 60px"></button>
                            <button type="button" class="btn btn-dark far fa-thumbs-down" style="width: 60px"></button>
                            <button type="button" class="btn btn-dark far fa-comment" style="width: 60px"></button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 mb-8" style="margin-bottom: 40px">
                    <div class="card h-100">
                        <div class="card-header font-italic">
                            <h7>Some quick example text to build on the card title and make up the bulk of the card's content.</h7>
                        </div>
                        <img src="https://res.cloudinary.com/cloudnameiscool/image/upload/v1582325201/b76224eb-76fe-4ed4-8ede-bcc5a087054f.gif" class="card-img-top" alt="...">
                        <div class="card-footer">
                            <button type="button" class="btn btn-dark far fa-thumbs-up" style="width: 60px"></button>
                            <button type="button" class="btn btn-dark far fa-thumbs-down" style="width: 60px"></button>
                            <button type="button" class="btn btn-dark far fa-comment" style="width: 60px"></button>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
</div>
<!-- /.row -->


