@{
    ViewData["Title"] = "Yeetegy Kill the boredom";
}
@using Yeetegy.Common
@model IEnumerable<CategoryViewModel>
<div class="row">

    <partial name="_SideNavBarPartial" model="Model"></partial>


    <div class="col-lg-9" style="margin-top: 60px;">

        <div class="row" id="PostContainer">
            <form id="voteform" method="post"></form>
            <div class="col-lg-8 col-md-12" style="margin-bottom: 30px">
                <div class="card h-100">
                    <div class="card-header font-italic">
                        <h5><b>@this.ViewData["CategoryName"]</b></h5>
                    </div>
                    <img id="srcP" src="@this.ViewData["CategoryUrl"]" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/general.js" asp-append-version="true"></script>
    <script>
        $(window).resize(function() {
            resizeCategory.call();
            //console.log(Math.max(document.documentElement.clientHeight, window.innerHeight || 0));
        });

        var myPageIndex = 0;
        var noMoredata = false;
        var inProgress = false;

        function DomOperation() {
            if (noMoredata === false && inProgress === false) {
                inProgress = true;
                fetch('@Url.Action("GetPosts","Posts")?page=' + myPageIndex + "&category=" +
                    location.pathname.split("/").pop(),
                    {
                        method: "GET",
                    }).then(response => {
                    if (response.status === 200) {
                        response.text().then(html => {
                            if (html.length < 10) {
                                noMoredata = true;
                            } else {
                            document.getElementById("PostContainer").innerHTML += html;

                            }
                        });
                        inProgress = false;
                        myPageIndex += @GlobalConstants.LoadPostCountAjax;
                    }
                });
            }
        }

        function getPosts() {
            var docHeight = $(document).height();
            var winScrolled = $(window).height() + $(window).scrollTop();
            if ((docHeight - winScrolled) < 400) { // scroll time
                DomOperation.call();
            }
        }

        $(document).ready(function() {
            DomOperation.call();
            resizeCategory.call();
            $(window).on("scroll", getPosts);
        });
    </script>
}
